In [1]:
import pandas as pd

In [2]:
score_df = pd.DataFrame([[1,56,66,70], 
              [2,90,45,34],
              [3,45,32,55],
              [4,70,77,89],
              [5,56,80,70],
              [6,60,54,55],
              [7,45,70,79],
              [8,34,77,76],
              [9,25,87,60],
              [10,88,40,43]],columns=['student_id','math_score','english_score','chinese_score'])
score_df = score_df.set_index('student_id')
score_df

   student_id  math_score  english_score  chinese_score
0           1          56             66             70
1           2          90             45             34
2           3          45             32             55
3           4          70             77             89
4           5          56             80             70
5           6          60             54             55
6           7          45             70             79
7           8          34             77             76
8           9          25             87             60
9          10          88             40             43

In [3]:
#1.6號學生(student_id=6)3科平均分數為何?

In [12]:
a=score_df.mean(axis=1)
a

0    48.25
1    42.75
2    33.75
3    60.00
4    52.75
5    43.75
6    50.25
7    48.75
8    45.25
9    45.25
dtype: float64

In [10]:
#50.25

In [11]:
#2. 6號學生3科平均分數是否有贏過班上一半的同學

In [14]:
b=a.median()
b

46.75

In [15]:
#50.25>46.75(成績中位數)，因此6號同學有贏過班上一半同學

In [17]:
#3. 由於班上同學成績不好，所以學校統一加分，加分方式為開根號乘以十，請問6號同學3科成績分別是?

In [19]:
c=score_df.apply(lambda x : x**(0.5)*10)
c

   student_id  math_score  english_score  chinese_score
0   10.000000   74.833148      81.240384      83.666003
1   14.142136   94.868330      67.082039      58.309519
2   17.320508   67.082039      56.568542      74.161985
3   20.000000   83.666003      87.749644      94.339811
4   22.360680   74.833148      89.442719      83.666003
5   24.494897   77.459667      73.484692      74.161985
6   26.457513   67.082039      83.666003      88.881944
7   28.284271   58.309519      87.749644      87.177979
8   30.000000   50.000000      93.273791      77.459667
9   31.622777   93.808315      63.245553      65.574385

In [22]:
print(c.iloc[5])   #各科成績

student_id       24.494897
math_score       77.459667
english_score    73.484692
chinese_score    74.161985
Name: 5, dtype: float64

In [23]:
#承上題，加分後各科班平均變多少

In [25]:
c.math_score.mean()  #數學平均

74.1942207648474

In [26]:
c.english_score.mean()  #英文平均

78.35030113852697

In [27]:
c.chinese_score.mean()  #國文平均

78.73992805288852